{% extends 'base.html' %} {% block body %}
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<style>
	body {
	  font-family: Arial, sans-serif;
	  margin: 0;
	  padding: 0;
	}

	.page-wrapper {
	  padding: 100px;
	  padding-top: 10px;
	}

	.header {
  background-color: #fff;
  color: #000;
  padding: 10px;
  padding-right: 80px;
  padding-left: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #000;
}

	.row {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  margin-bottom: 10px;
	}

	.title {
	  font-size: 24px;
	border-bottom: 2px solid #ccc;
	}

	.filters {
	  display: flex;
	  align-items: center;
	}

	select {
	  margin-right: 5px;
	}

	.search-bar {
	  display: flex;
	  align-items: center;
	}

	input[type="text"] {
	  padding: 5px;
	  margin-right: 5px;
	}

	button {
	  padding: 5px 10px;
	  background-color: #333;
	  color: #fff;
	  border: none;
	  cursor: pointer;
	}

	.excel-button {
	  border: 1px solid #333;
	}

	.content table {

	  width: 100%;
	  border-collapse: collapse;
	  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}

	.content th,
	.content td {
	  padding: 10px;
	  border: 1px solid #ddd;
	}

	.content th {
	  background-color: #f5f5f5;
	  font-weight: bold;
	  color: #000;
	}


	.content td:first-child {
	  text-align: center;
	}

	.content td:last-child {
	  text-align: center;
	}

	/* Estilos para ícones */
	i.fas {
	  font-family: "Font Awesome 5 Free";
	}

	.fa-search::before {
	  content: "\f002";
	}

	.fa-bars::before {
	  content: "\f0c9";
	}
	tr {
	font-size: 21px;
	}
</style>
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<div class="page-wrapper">
	<div class="header">
		<div class="row">
			<div class="title">
				Vendas
			</div>
		</div>
	</div>
	<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
	<div class="content">
		<table>
			<thead>
                <tr>
                    <th>ID</th>
                    <th>Nome do Cliente</th>
                    <th>Tipo de Pagamento</th>
                    <th>Valor da Venda</th>
                    <th>Vendedor</th>
                    <th>Data da Venda</th>
                </tr>
            </thead>
            <tbody>
                {% for venda in vendas %}
                <tr>
                    <td>{{ venda.id_venda }}</td>
                    <td>{{ venda.nome_cliente }}</td>
                    <td>{{ venda.tipo_pagamento_fk }}</td>
                    <td>{{ venda.total_da_venda }}</td>
                    <td>{{ venda.vendedor }}</td>
                    <td>{{ venda.data_da_venda.strftime('%d-%m-%Y / %H:%M') }}</td>
                </tr>
                {% endfor %}
            </tbody>
		</table>
	</div>
</div>
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<div class="page-wrapper">
	<div class="header">
		<div class="row">
			<div class="title">
				Itens da Venda
			</div>
		</div>
	</div>
	<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
	<div class="content">
		<table>
			<thead>
            <tr>
                <th>ID</th>
                <th>Codigo do Pedido</th>
                <th>Nome da Roupa</th>
                <th>Valor Unitario</th>
                <th>Quantidade</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for item in itens_venda %}
            <tr>
                <td>{{ item.id_itens_venda }}</td>
                <td>{{ item.codigo_venda }}</td>
                <td>{{ item.roupas_fk }}</td>
                <td>{{ item.valor_unitario }}</td>
                <td>{{ item.qtd }}</td>
                <td>{{ item.subtotal }}</td>
            </tr>
            {% endfor %}
        </tbody>
		</table>
	</div>
</div>


<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<script>
	var currentPage = 'pagina4';

	// Função para manipular a barra lateral
	function handleSidebar() {
	  var sidebarLogos = document.querySelectorAll('.sidebar-logo');

	  for (var i = 0; i < sidebarLogos.length; i++) {
	    var sidebarLogo = sidebarLogos[i];

	    if (sidebarLogo.dataset.page === currentPage) {
	      sidebarLogo.classList.add('active');
	    } else {
	      sidebarLogo.classList.remove('active');
	    }
	  }
	}

	// Chamar a função após definir a variável currentPage
	handleSidebar();
</script>

{% endblock %}
