

a{
all: unset;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #fff;

  }
  .valor-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin:20px;

}

.valor-label {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #555;
}
h3 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin-top: 5px;
  margin-bottom: 10px;
}

.valor-texto {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  margin-top: 15px;
   border: 3px solid #000;
  padding: 5px;
  border-radius:100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

  nav img {
    height: 80px;
    margin-left: 10px;
  }

  .nav-links {
    display: flex;
    list-style: none;
  }

  .nav-links li {
    margin-right: 20px;
  }

  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }

  body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  form {
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    max-width: 400px;
    padding: 30px;
    margin-bottom: 30px;
    margin-top:16px;
  }
  .formRoupa{
  padding-top:5px;
  }


  h2 {
    color: #333333;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  label {
    color: #333333;
    display: block;
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  #descricao{
  width: 100%;
  height:13%;
  resize: vertical;
  resize: none;
  font-size:20px;
  padding:5px;
  font-family: Arial, sans-serif;
        font-weight: normal;

        overflow-y: auto;
        text-align: left;
  }

  input[type="text"],[type="email"], input[type="password"],select {
    border:0.1px solid black;
    border-radius: 5px;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 12px;
    width: 100%;
  }
  input[type="submit"],[type="button"] {
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
  }
  input[type=checkbox] {
         position: relative;
	       cursor: pointer;
	       margin-right: 20px;
    }
    input[type=checkbox]:before {
         content: "";
         display: block;
         position: absolute;
         width: 20px;
         height: 20px;
          border: 1px solid #000;

         top: 0;
         left: 0;
         background-color:#fff;
}
.categoria-div {
            width: 100%;
            height: 50px;


            border-radius:10px;
        }
     .cinza{
     background-color:#DDD;
     }
     .branco{
     background-color:white;
     }
     .slider {
  position: relative;
  height: 10px;
  width: 200px;
  background-color: #ccc;
}

.slider-bar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #555;
}
.gray-background {
    background-color: #363636;
  }
   .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
    .page-number{
    margin-left:10px;
    font-weight:bold;
    margin-right:10px;
    }
div.omrs-input-group {
  margin-bottom: 1.5rem;
  position: relative;
  width: 20.4375rem;
}

/* Input*/
.omrs-input-underlined > input,
.omrs-input-filled > input {
	border: none;
	border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
	width: 100%;
	height: 2rem;
	font-size: 1.0625rem;
	padding-left: 0.875rem;
	line-height: 147.6%;
	padding-top: 0.825rem;
	padding-bottom: 0.5rem;
}

.omrs-input-underlined > input:focus,
.omrs-input-filled > input:focus {
	outline: none;
}
.balao {
  visibility: hidden;
  width: 400px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
}
.switch__container {
  margin: 30px auto 0px auto;
  width: 50vw;
  align-items: center;
}

.switch {
  visibility: hidden;
  position: absolute;
  margin-left: -9999px;
}

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.switch--shadow + label {
  padding: 2px;
  width: 80px;
  height: 35px;
  background-color: #dddddd;
  border-radius: 60px;
}
.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
.switch--shadow + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
.switch--shadow + label:after {
  width: 35px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}
.switch--shadow:checked + label:before {
  background-color: #8ce196;
}
.switch--shadow:checked + label:after {
  transform: translateX(43px);
}

/* Estilo Flat */
.switch--flat + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
  transition: background 0.4s;
}
.switch--flat + label:before,
.switch--flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
.switch--flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}
.switch--flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 56px;
  background-color: #dddddd;
  border-radius: 52px;
  transition: margin 0.4s, background 0.4s;
}
.switch--flat:checked + label {
  background-color: #8ce196;
}
.switch--flat:checked + label:after {
  margin-left: 60px;
  background-color: #8ce196;
}

/* Mostrando o balão de texto ao passar o mouse */
.mouse:hover .balao {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.omrs-input-underlined > .omrs-input-label,
.omrs-input-filled > .omrs-input-label {
	position: absolute;
	top: 0.9375rem;
	left: 0.875rem;
	font-family:monospace;
	line-height: 147.6%;
	color: var(--omrs-color-ink-medium-contrast);
	transition: top .2s;
}

.omrs-input-underlined > svg,
.omrs-input-filled > svg {
	position: absolute;
	top: 0.9375rem;
	right: 0.875rem;
	fill: var(--omrs-color-ink-medium-contrast);
}

.omrs-input-underlined > .omrs-input-helper,
.omrs-input-filled > .omrs-input-helper {
	font-size: 0.9375rem;
	color: var(--omrs-color-ink-medium-contrast);
	letter-spacing: 0.0275rem;
	margin: 0.125rem 0.875rem;
}

.omrs-input-underlined > input:hover,
.omrs-input-filled > input:hover {
	background: var(--omrs-color-interaction-minus-two);
	border-color: var(--omrs-color-ink-high-contrast);
}

.omrs-input-underlined > input:focus + .omrs-input-label,
.omrs-input-underlined > input:valid + .omrs-input-label,
.omrs-input-filled > input:focus + .omrs-input-label,
.omrs-input-filled > input:valid + .omrs-input-label {
	top: -7px;
	font-size: 1rem;

	margin-bottom: 45px;;
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus + .omrs-input-label,
.omrs-input-filled:not(.omrs-input-danger) > input:focus + .omrs-input-label {
	color: var(--omrs-color-interaction);

}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus,
.omrs-input-filled:not(.omrs-input-danger) > input:focus {
	border-color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus ~ svg,
.omrs-input-filled:not(.omrs-input-danger) > input:focus ~ svg {
	fill: var(--omrs-color-ink-high-contrast);
}

/** DISABLED **/

.omrs-input-underlined > input:disabled {
	background: var(--omrs-color-bg-low-contrast);
	cursor: not-allowed;
}

.omrs-input-underlined > input:disabled + .omrs-input-label,
.omrs-input-underlined > input:disabled ~ .omrs-input-helper{
	color: var(--omrs-color-ink-low-contrast);
}

.omrs-input-underlined > input:disabled ~ svg {
	fill: var(--omrs-color-ink-low-contrast);
}
 .pagination button {
  background-color: #f2f2f2;
font-weight:bold;
  color: #666;
  width:60px;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #ddd;
}

.pagination .active {
  background-color: #4CAF50;
  color: white;
}

.pagination button.prev,
.pagination button.next {
  margin: 0 4px;
}

.pagination button:first-child,
.pagination button:last-child {
  margin: 0;
}
.slider-circle {
  position: absolute;
  top: -35%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #555;
  cursor: grab;
}

.min-circle {
  left: 0;
  transform: translateX(-50%);
}

.max-circle {
  right: 0;
  transform: translateX(50%);
}
input[type=checkbox]:checked:before {
         content: "";
         display: block;
         position: absolute;
         width: 20px;
         height: 20px;
         top: 0;
         left: 0;
         background-color:#1E80EF;
}
    input[type=checkbox]:checked:after {
         content: "";
         display: block;
         width: 5px;
         height: 10px;
         border: solid white;
         border-width: 0 2px 2px 0;
         -webkit-transform: rotate(45deg);
         -ms-transform: rotate(45deg);
         transform: rotate(45deg);
         position: absolute;
         top: 2px;
         left: 6px;
}
  button{
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
  }
  input[type="submit"].submit-editar-roupa {
  background-color:#424beb;
   }
  input[type="submit"]:hover {
    background-color: #555555;
  }
  #add-roupa-btn {
    display: flex;
    justify-content:center;
    align-items: center;
      background-color: #585757;
      color: #fff;
      font-size: 2rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 1rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
    width: 370px;
    padding: 6px;
    margin-top: 20px;


  }
  #rem-roupa-btn {
    display: flex;
    justify-content:center;
    align-items: center;
      background-color: #585757;
      color: #fff;
      font-size: 2rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 1rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
    width: 370px;
    padding: 6px;
    margin-top: 20px;


  }
    #rem-usuario-btn {
    display: flex;
    justify-content:center;
    align-items: center;
      background-color: #585757;
      color: #fff;
      font-size: 2rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 1rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
    width: 370px;
    padding: 6px;
    margin-top: 20px;


  }
  #add-categoria-btn {
    display: flex;
    justify-content:center;
    align-items: center;
      background-color: #585757;
      color: #fff;
      font-size: 2rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 1rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
    width: 370px;
    padding: 6px;
    margin-top: 20px;


  }
  #rem-categoria-btn {
    display: flex;
    justify-content:center;
    align-items: center;
      background-color: #585757;
      color: #fff;
      font-size: 2rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 1rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
    width: 370px;
    padding: 6px;
    margin-top: 20px;


  }
  #add-estoque-btn {
    display: flex;
    justify-content:center;
    align-items: center;
      background-color: #585757;
      color: #fff;
      font-size: 2rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 1rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
    width: 370px;
    padding: 6px;
    margin-top: 20px;


  }
  #add-roupa-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
  }
  #del-usuario-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
  }
   #del-usuario-btn {
    cursor:pointer;
  }
  #rem-estoque-btn {
    display: flex;
    justify-content:center;
    align-items: center;
      background-color: #585757;
      color: #fff;
      font-size: 2rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 1rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      cursor: pointer;
    width: 370px;
    padding: 6px;
    margin-top: 20px;


  }
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }

  thead {
    background-color: #333;
    color: #fff;
  }

  th, td {
    padding: 10px;
    text-align: center;
  }

  th {
    text-transform: uppercase;
  }

  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tbody tr:hover {
    background-color: #ddd;
  }
 .alert{
 position:relative;padding:.75rem 1.25rem;margin-bottom:1rem;border:1px solid transparent;border-radius:.25rem
 }
 .alert-success{color:#155724;background-color:#d4edda;border-color:#c3e6cb;text-align: center;}

 .alert-danger{color:#721624;background-color:#f8d7da;border-color:#f5c6cb;text-align: center;}

 footer {
    background-color: #000000;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
    color: #585757;
}
.alert {
  padding: 10px;
  margin-bottom: 10px;
}
.sidebar {
  background: rgb(0 0 0 / 80%);
  width: 70px;
  height: 100vh;
  margin-bottom: 25px;
  overflow-y: scroll; /* Permite a rolagem vertical */
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  transition: width 0.3s;
  scrollbar-width: thin; /* Largura da barra de rolagem (pode ajustar conforme necessário) */
  scrollbar-color: transparent transparent; /* Cor da barra de rolagem (transparente para ocultar) */
}

/* Estilos personalizados para ocultar a barra de rolagem */
.sidebar::-webkit-scrollbar {
  width: 0em; /* Largura da barra de rolagem (pode ajustar conforme necessário) */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: transparent; /* Cor do polegar da barra de rolagem (transparente para ocultar) */
}
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

}
.sidebar.active {
  width: 304px;
}

.sidebar-word {
all: unset;
  margin-left:17px;
  top: 0;
  left: 100%;

  padding-left: 10px;
  font-size: 19px;
  width:30vw;
  margin-top:22px;
}

.sidebar-toggle {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.bar {
  background: #fff;
  width: 20px;
  height: 2px;
  margin-bottom: 4px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}


.sidebar.active .sidebar-menu {
  display: block;

}

.sidebar-menu li {
  margin-bottom: 10px;
}

.sidebar-menu a {
  color: #fff;
  text-decoration: none;
}

.content {
  margin-left: 60px;
  padding: 20px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;

    position: relative;
    padding: 20px;
  }

  .content {
    margin-left: 0;
    padding: 20px;
  }
}
.sidebar-logo {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  margin-top:13px;
 display: flex;
padding-left:5px;
height:62px;

border-radius: 0 55px 55px 0;
width:304px;

}
.sidebar-logo:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.sidebar-logo.active {
  background-color: rgb(82 102 223 / 80%);
}
.excluir-button {
            background-color: red;
            color: white;
            border: none;
            font-weight:bold;
            cursor: pointer;
            padding: 5px;
            border-radius: 5px;
        }
        .editar-button {
            background-color: #4646e9;
            color: white;
            border: none;
            font-weight:bold;
            cursor: pointer;
            padding: 5px;
            border-radius: 5px;
        }
.popup-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .popup {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    .popup-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .popup-buttons button {
cursor: pointer;
    }
     .popup-buttons .confirm-button {
        background-color: red;
        color: white;
        font-size: 16px;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
    }

    .popup-buttons .cancel-button {
        background-color: green;
        font-size: 16px;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        color: white;
    }

.user-icon {
  position: relative;
  display: inline-block;
}
#form-sair{
padding:20px;
}
.form-container {
  position: absolute;
  top: 5%;
  left: 68%;
  display: none;

}
.form-row {
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
  height:30px;
}
.form-row label {
  display: inline-block;
  width: 80px; /* Defina a largura desejada para o label */
  color:black;
  font-size:1.3em;
  margin-top:0px;

}

.search-bar{
width:386px;
height:40px;
padding: 8px;
}
.form-row input {
all:unset;
  display: inline-block;
  margin-left:10px;
  color:black;
  border:none;
  font-size:1.3em;

}

#sair {
  border: none;
  background: none;
  padding: 10px 10px;
  border-radius: 20px;
  color: #333;
  width:370px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

#sair:hover {
  background-color: #555;
  color: #fff;
}
  .inputRoupa{
padding: 10px;
  }
  .labelRoupa{
  margin-bottom: 5px;
    margin-top: 12px;
  }

  /* Estilo para o rótulo */
  label.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
  }

  /* Estilo para o checkbox */
  label.checkbox-container input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Estilo para o visual do checkbox */
  label.checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 4px;
  }

  /* Estilo para o visual do checkbox quando marcado */
  label.checkbox-container input[type="checkbox"]:checked + .checkmark {
    background-color: #333;
  }

  /* Estilo para o visual do sinal de verificação */
  label.checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Estilo para exibir o sinal de verificação quando marcado */
  label.checkbox-container input[type="checkbox"]:checked + .checkmark:after {
    display: block;
  }

  /* Estilo para o sinal de verificação (marcado) */
  label.checkbox-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }


